@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Smooth Dev Saturday</h1>
    <p>This code was automatically pushed from Azure DevOps.</a>.
    <br/>
    I have the code in GitHub, I connected it to Azure DevOps and pushed to Azure.
    </p>
</div>
