trigger:
- master
variables:
  buildConfiguration: 'Release'

stages:
  - stage: build
    displayName: 'Build & Test'

    #build jobs
    jobs: 
    - job: build
      displayName: 'Linux Build'
      pool:
        vmImage: 'ubuntu-latest'
      steps:
      - task: DotNetCoreCLI@2
        displayName: "Build Project"
        inputs:
          command: 'build'
          projects: '**/*.csproj'

      - task: DotNetCoreCLI@2
        displayName: "Test Project"
        inputs:
          command: 'test'
          projects: '**/*.csproj'
          publishTestResults: false
          testRunTitle: 'Unit Test'
      - task: DotNetCoreCLI@2
        displayName: "Publish Project to Artifacts Directory"
        inputs:
          command: 'publish'
          publishWebProjects: true
          arguments: '--configuration $(BuildConfiguration) --output $(build.artifactstagingdirectory)'
      - task: PublishBuildArtifacts@1
        displayName: "Drop Artifacts"
        inputs:
          PathtoPublish: '$(build.artifactstagingdirectory)'
          ArtifactName: 'drop'
          publishLocation: 'Container'
  - stage: release
    displayName: "Deploy to Dev"
    
    jobs:
      - job: release
        displayName: "Dev Env Release"
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: DownloadBuildArtifacts@0
            #displayName:"Download Build Artifacts"
            inputs:
              buildType: 'current'
              downloadType: 'specific'
              itemPattern: '**/*.zip'
              downloadPath: '$(System.ArtifactsDirectory)'

          - task: AzureRmWebAppDeployment@4
            inputs:
              ConnectionType: 'AzureRM'
              azureSubscription: 'MCT-Subscription (a83c833d-7492-46ac-b3cb-d787ea08851a)'
              appType: 'webApp'
              WebAppName: 'sds-gwl-demo'
              deployToSlotOrASE: true
              ResourceGroupName: 'dev-and-demos'
              SlotName: 'dev'
              packageForLinux: '$(System.ArtifactsDirectory)/**/*.zip'

